h1{
    
    border: 1px solid blue ;
    background-color: aqua;
    font-size: 32px;
    border-width: 7px 5px;
    border-color: black;
    padding: 20px;
    margin: 80px;
    
}
a{
   border: 2px solid black;
}
p{
    border: 4px solid rgb(108, 76, 76);
    width: 400px;
    height: 200px;
    margin: 50px auto;
    padding: 20px;
    text-align: justify;
    font-style: oblique;
    font-size: large;
    text-indent: 50px;
    box-shadow: inset 10px 10px 20px rgb(179, 44, 44),
               inset -10px -10px 20px  rgb(178,148,148) 





}