 body{
    background-color: bisque;
}
.container{
    display: grid;
    grid-template-columns:repeat(auto-fill,minmax(200px,1fr)) ;
    grid-template-rows: 2fr 1fr;
    column-gap: 20px;
    row-gap: 20px; 
}
.para{
    padding: 10px;
    background-color: brown;
    color: aliceblue;
} */
.box{
    background-color: aqua;
    color:brown;
    font-size: 4rem;
    display: grid;
    justify-content: center;
    align-items: center;
}
.outerbox{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 100px 100px;
    gap: 20px;
    grid-auto-rows: 100px;
    
}
.box1{
    align-content: center;
    grid-column: span 3;
    
}
.box2{
    grid-row: span 3;
}
.box4{
    grid-row: span 3;
} 
