.box
{
    margin-left: 10px;
    height: 100px;
    width: 400px;
}
.one{
    background-color: orangered;
}
.two{
    background-color: white;
    text-align: center;
    
}
.three{
    background-color: green;
}



